# Binaries
snet
dns-defense-server

# Logs & temp
logs/
*.log

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor / IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Misc
.DS_Store
Thumbs.db
